.cart{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    top: 18%;
    right: 1%;
    width: 28%;
    z-index: 1;
    max-height: 82%;
    font-size: 12px;
}
.cart-body{
    /* display: flex; */
    height: 82%;
    /* justify-content: center;
    align-items: center; */
    overflow: auto;
}
.cart-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: #fff;
}
span:nth-child(2){
    cursor: pointer;
}
.cart-footer > button {
    width: 100%;
}
.no-item{
    text-align: center
}
.cart-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width:125px;
}
.cart-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.increment,.decrement{
    display: inline-block;
    border: 1px solid;
    width: 15px;
    text-align: center;
    background-color: #bf2957;
    color: #fff;
    cursor: pointer
}
.modify-cart > span{
    margin: 5px
}